In [38]:
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
accidents = pd.read_excel('accident.xls', sheet_name="Accidents")

In [40]:
deaths = pd.read_excel('accident.xls', sheet_name="Deaths")

In [41]:
new_header = list(accidents.iloc[:,0])

In [42]:
accidents = accidents.transpose()

In [43]:
accidents.columns = new_header

In [44]:
accidents = accidents.drop(accidents.index[0])

In [45]:
accidents.head()

,National,Beijing,Tianjin,Hebei,Shanxi,Inner Mongolia,Liaoning,Jilin,Heilongjiang,Shanghai,...,Chongqing,Sichuan,Guizhou,Yunnan,Tibet,Shaanxi,Gansu,Qinghai,Ningxia,Xinjiang
2005,450254,6364,4406,11187,13342,8453,10341,9659,7506,9238,...,10605,29628,3315,6870,845,12011,5414,952,3803,9526
2006,378781,5808,4913,8631,10981,6481,8671,7415,6732,6585,...,9001,24338,2734,6692,751,10546,4828,939,2985,7428
2007,327209,5335,4482,8503,9078,6305,8005,6956,6715,3952,...,8236,21598,2292,5425,638,9063,3808,1041,2570,6735
2008,265204,3943,4048,7621,7867,5056,7214,5782,4528,2745,...,7262,17037,2219,5037,600,7205,3364,1120,2172,5684
2009,238351,3814,3839,6802,7697,4166,6973,5277,3331,2831,...,5992,21680,1816,5075,678,5501,2937,1146,1856,5120

In [49]:
deaths = deaths.transpose()

In [50]:
deaths.columns = new_header

In [51]:
deaths = deaths.drop(deaths.index[0])

In [52]:
deaths.head()

,National,Beijing,Tianjin,Hebei,Shanxi,Inner Mongolia,Liaoning,Jilin,Heilongjiang,Shanghai,...,Chongqing,Sichuan,Guizhou,Yunnan,Tibet,Shaanxi,Gansu,Qinghai,Ningxia,Xinjiang
2005,98738,1515,970,4075,3819,2106,2919,2428,2164,1393,...,1484,4415,1647,2901,540,2698,1799,736,796,3110
2006,89455,1373,878,3486,3413,1874,2611,2138,2164,1231,...,1299,4090,1422,2627,536,2711,1701,662,666,2608
2007,81649,1182,849,3372,3062,1834,2534,1870,1906,1171,...,1218,3790,1356,2323,438,2270,1548,633,575,2413
2008,73484,986,1225,2928,2910,1610,2280,1660,1703,1100,...,1048,3344,1348,2082,384,2156,1556,604,525,2314
2009,67759,981,945,2766,2773,1440,2156,1483,1419,1042,...,1031,3057,1210,1888,369,2034,1553,578,457,2080

In [59]:
national = pd.DataFrame(accidents['National'])

In [69]:
years = list(national.index)

In [78]:
s = deaths.loc[:, 'National']